@use 'mixins' as mixins;

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
       url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
       url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"),
       url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "Lato", sans-serif;
  @include mixins.font(25px, 160%);
  color: rgba(51, 26, 47, 0.8);
}

p.__font-small {
  @include mixins.font(16px, 20px);
  color: rgba(51, 26, 47, 0.5);
}

h6 {
  font-weight: 600;
  @include mixins.font(18px, 25px);
  color: #331A2F;
}

h5 {
  font-weight: 600;
  @include mixins.font(24px, 150%);
  color: #331A2F;
}

h4 {
  font-weight: 600;
  @include mixins.font(35px, 45px);
  color: #331A2F;
}

h3 {
  font-weight: 600;
  @include mixins.font(42px, 55px);
  color: #331A2F;
}

h2 {
  font-weight: 700;
  @include mixins.font(48px, 64px);
  color: #331A2F;
}

h1 {
  font-weight: 700;
  @include mixins.font(56px, 80px);
  color: #000000;
}

@include mixins.tablet-landscape {
  body {
    @include mixins.font(20px, 160%);
  }

  p.__font-small {
    @include mixins.font(16px, 160%);
  }

  h6 {
    @include mixins.font(16px, 150%);
  }

  h5 {
    @include mixins.font(20px, 150%);
  }

  h4 {
    @include mixins.font(30px, 45px);
  }

  h3 {
    @include mixins.font(38px, 55px);
  }

  h2 {
    @include mixins.font(40px, 50px);
  }

  h1 {
    @include mixins.font(46px, 65px);
  }
}

@include mixins.phone {
  body {
    @include mixins.font(18px, 160%);
  }

  p.__font-small {
    @include mixins.font(16px, 160%);
  }

  h6 {
    @include mixins.font(16px, 150%);
  }

  h5 {
    @include mixins.font(18px, 150%);
  }

  h4 {
    @include mixins.font(20px, 150%);
  }

  h3 {
    @include mixins.font(22px, 150%);
  }

  h2 {
    @include mixins.font(24px, 150%);
  }

  h1 {
    @include mixins.font(26px, 150%);
  }
}